<% layout('layouts/boilerplate') %>
    <h1>All trips</h1>
    <ul>
        <% for(let trip of trips) { %>
            <li>
                <h1>
                    <%= trip.title %> - <%= trip.country %>
                </h1>
                <a href="/trips/<%= trip._id %>">
                    <p>
                        <%= trip._id %>
                    </p>
                </a>
                <img src="<%= trip.coverUrl %>" alt="">
            </li>
            <% } %>
    </ul>