<% layout('layouts/boilerplate') %>
    <h1>
        <%= trip.title %> - <%= trip.country %>
    </h1>
    <p>Number of days: <%= trip.numOfDays %>
    </p>
    <p>Started my trip in <%= trip.startCity %>, and ended it in <%= trip.endCity %>
    </p>
    <p>Last update: <%= trip.lastUpdate %>
    </p>
    <img src="<%= trip.coverUrl %>" alt="">
    <br>
    <a href="/trips/<%= trip._id %>/edit">Edit</a>
    <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>