<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <% for(let img of trip.images){ %>
                    <img src="<%= img.url %>" class="card-img-top" alt="">
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= trip.country %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Last updated on <%= trip.lastUpdate %>
                            </h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                        </div>
                        <ul class="list-group list-group-flush">

                            <% if(trip.author.googleId){ %>
                                <li class="list-group-item">Posted by: <%= trip.author.googleName %>
                                </li>
                                <% } else if(trip.author.googleFacebook){ %>
                                    <li class="list-group-item">Posted by: <%= trip.author.facebookName %>
                                    </li>
                                    <% } else{ %>
                                        <li class="list-group-item">Posted by: <%= trip.author.username %>
                                        </li>
                                        <% } %>
                                            <li class="list-group-item">Number of days: <%= trip.numOfDays %>
                                            </li>
                                            <li class="list-group-item">Start city: <%= trip.startCity %>
                                            </li>
                                            <li class="list-group-item">End city: <%= trip.endCity %>
                                            </li>
                                            <% for(i=0; i< trip.daysProgram.length ; i++){ %>
                                                <li class="list-group-item">day <%= i+1 %>: <%= trip.daysProgram[i] %>
                                                </li>
                                                <% } %>
                        </ul>
                        <% if(currentUser && trip.author.equals(currentUser._id)){ %>
                            <div class="card-body d-flex justify-content-evenly">
                                <a class="card-link btn btn-info" href="/trips/<%= trip._id %>/edit">Edit</a>
                                <form class="d-inline" action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                            <% } %>
            </div>
        </div>

        <% if(currentUser || trip.comments.length!=0) { %>
            <div class="col-md-6">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                    <div class="card-body p-4">
                        <% if(currentUser){ %>
                            <form action="/trips/<%= trip._id %>/comments" method="post" class="validated-form mb-3"
                                novalidate>
                                <div class="mb-3">
                                    <label class="form-label" for="body">+ Add a comment</label>
                                    <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="3"
                                        placeholder="Type your comment.." required></textarea>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <button class="btn btn-primary">Submit</button>
                            </form>
                            <% } %>
                                <% for(let comment of trip.comments){ %>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex flex-start">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp"
                                                    alt="avatar" width="40" height="40" />
                                                <div class="w-100">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <h6 class="text-primary fw-bold mb-0">
                                                            <% if(comment.author.googleId){ %>
                                                                <span class="ms-2">
                                                                    <%= comment.author.googleName %>
                                                                </span>
                                                                <% }else if(comment.author.facebookId){ %>
                                                                    <span class="ms-2">
                                                                        <%= comment.author.facebookName %>
                                                                    </span>
                                                                    <% } else{ %>
                                                                        <span class="ms-2">
                                                                            <%= comment.author.username %>
                                                                        </span>
                                                                        <% } %>
                                                                            <span class="text-dark ms-2">
                                                                                <%= comment.body %>
                                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <% if(currentUser && comment.author.equals(currentUser._id)){ %>
                                                        <form
                                                            action="/trips/<%= trip._id %>/comments/<%= comment._id %>?_method=DELETE"
                                                            method="POST">
                                                            <button
                                                                class="btn btn-link btn-sm link-grey small">Remove</button>
                                                        </form>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                    </div>
                </div>
            </div>
            <% } %>


    </div>